<section id="education">
<div class="container">
</br></br></br>
  <h3>Education</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
		<strong>University of Karabük</strong>
		<p>Computer Engiinering Student</p>
		</h4>
		<h4>
		<strong>New University of Lisbon</strong>
		<p>MSc in Molecular Genetics and Biomedicine  (2008 - 2010)</p>
		</h4>
		<h4>
		<strong>New University of Lisbon</strong>
		<p>BSc in Biochemistry (2004 - 2008)</p>
		</h4>
    </div>
  </div>
</br></br>
</div><!-- /.container -->
</section>
